* {
  box-sizing: border-box;
}

main {
  background-color: #ffffff;
  padding: 0 0 2em 0;
  display: block;
}

main h2, main h3, main h4, main p, main div, main ul {
  padding-left: 3em;
  padding-right: 2em;
}

body {
  background-color: #555555;
  color: #000000;
  font-family: Verdana, Helvetica;
}

header {
  background-color: #718C5E;
  height: 20px;
}

p {
  font-weight: bold;
}

footer {
  background-color: #D7D7D7;
  font-size: .60em;
  font-style: italic;
  text-align: center;
  padding-bottom: 0px;
}

h1 {
  padding-top: 45px;
  padding-left: 220px;
  font-size: 3em;
  font-family: Calendas, Times New Roman;
}

h2 {
  align-content: center;
}

h4 {
  background-color: #ffffff;
  font-size: 1.2em;
  padding-left: 0.5em;
  padding-bottom: 0;
  text-transform: uppercase;
  clear: left;
  font-family: Calendas, Times New Roman;
}

nav {
  width: auto;
  height: 122px;
  background: #D7D7D7;
  overflow: auto;
  text-transform: uppercase;
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  margin-left: 250px;
}

.logo img{
  position: absolute;
  background: #D7D7D7;
}

nav ul {
  list-style-type: none;
  margin-right: 20px;
}

nav li {
  float: left;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: center;
  white-space: nowrap;
}

nav a {
  text-decoration: none;
  width: 100px;
  display: block;
  text-decoration: none;
}

nav a:link {
  color: #000000;
}

nav a:visited {
  color: #718C5E;
}

nav a:hover {
  color: #42731F;
}

#wrapper {
  background-color: #D7D7D7;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 900px;
  max-width: 1280px;
}

#slideshow1 {
  background-image: url('../images/slideshow1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 600px;
}

header, nav, main, footer {
  display: block;
}

table {
  margin: auto;
  width: 90%;
  border-spacing: 0;
  background-color: none;
}

td,
th {
  padding: 10px;
}

#saveherpetiles ul {
  list-style-type: none;
  display: inline-block;
}

#saveherpetiles li {
  display: inline-block;
}

#newtbackground {
  background-image: url('../images/Arr-Logo-Pattern2.gif');
  background-color: #42731F;
}

#newtbackground ul {
  background-color: #ffffff;
  list-style-type: none;
}

.afv-images {
  margin-left: 70px;
  margin-bottom: 50px;
  padding: 0px;
  border: solid 1px #939799;
  box-shadow: 10px 10px 10px #DCDCDC;
}

.button {
  border-style: solid #DCDCDC;
  margin-left: 70px;
  margin-bottom: 20px;
  /* box-shadow: 10px 10px 10px #DCDCDC; */
}

hr {
  width: 90%;
}

#donate-now {
  display: inline-block;
  color: #ffffff;
  font-size: 40px;
  font-weight: normal;
  background-color: #42731F;
  margin-right: 10px;
  margin-bottom: 50px;
  margin-left: 130px;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
  box-shadow: 10px 10px 10px #DCDCDC;
}

#footer-nav {
  background-color: #D7D7D7;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 50px;
}

.top-social-thumbnails {
  float: right;
  padding-left: 5px;
}

/** RESPONSIVENESS **/
#mobile {
  display: none;
}

#desktop {
  display: inline;
}

@media only screen and (max-width: 1024px) {
  body {
    margin: 0;
    background-image: none;
  }

  #wrapper {
    width: auto;
    min-width: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2.5em;
  }

  nav {
    float: none;
    width: auto;
    padding-top: 0;
    margin: 10px;
    font-size: 1.3em;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    padding: 1em;
    width: 8em;
    font-weight: bold;
    border-style: none;
  }

  nav ul {
    padding: 0;
    margin: 0;
  }

  #heroroad, #heromugs, #heroguitar, #herojobs {
    margin: 0;
    padding: 0;
  }

  main {
    margin: 0;
    font-size: 90%;
  }
}

@media only screen and (max-width: 768px) {
  header {
    background-image: url('../images/javajammini.jpg');
    height: 128px;
  }

  h1 {
    font-size: 2em;
    text-align: center;
    padding-left: 0;
  }

  nav {
    margin: 0;
  }

  nav a {
    display: block;
    padding: 0.2em;
    width: auto;
  }

  nav li {
    display: block;
  }

  main {
    padding-top: 1px;
  }

  h2 {
    padding-top: 0.5em;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0.5em;
    margin-right: 0.5em;
  }

  .details {
    padding-left: 0;
    padding-right: 0;
  }

  #heroroad, #heromugs, #heroguitar {
    background-image: none;
    height: auto;
  }

  .floatleft {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  #mobile {
    display: inline;
  }

  #desktop {
    display: none;
  }

  #herojobs {
    display: none;
  }
}
