@font-face {
  font-family: MyAwesomeFont;
  src: url("..https://www.dafontfree.co/calendas-plus-font/") format("Calendas");
}

.menu {
    display: flex;
    justify-content: space-between;
}

* {
  box-sizing: border-box;
}

.top-social-thumbnails {
  float: right;
  padding-left: 5px;
}

main {
  background-color: #ffffff;
  padding: 0 0 0 0;
  display: block;
}

body {
  background-color: #555555;
  color: #000000;
  font-family: Verdana, Helvetica;
}

header {
  background-color: #718C5E;
  height: 20px;
}

p {
  font-weight: bold;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 35px;
}

h1 {
  margin-bottom: 0px;
  font-size: 3em;
  font-family: "MyAwesomeFont", "Calendas", "Times New Roman";
  text-align: center;
}

h2 {
  align-content: center;
  text-align: center;
}

h3 {
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
  font-family: "MyAwesomeFont", "Calendas", "Times New Roman";
}

h4 {
  background-color: #ffffff;
  font-size: 1.2em;
  padding-left: 0.5em;
  padding-bottom: 0;
  text-transform: uppercase;
  clear: left;
  font-family: "MyAwesomeFont", "Calendas", "Times New Roman";
}

nav {
  width: 100%;
  height: 122px;
  background: #D7D7D7;
  overflow: auto;
  text-transform: uppercase;
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  margin-left: 300px;
}

.logo img {
  position: absolute;
  background: #D7D7D7;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}

nav li {
  float: left;
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-right: 15px;
  text-align: center;
  white-space: nowrap;
}

nav a {
  text-decoration: none;
  width: auto;
  display: block;
  text-decoration: none;
}

nav a:link {
  color: #000000;
}

nav a:visited {
  color: #718C5E;
}

nav a:hover {
  color: #42731F;
}

#wrapper {
  background-color: #D7D7D7;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 900px;
  max-width: 1280px;
}

#slideshow1 {
  background-image: url('../images/slideshow1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 600px;
}

header, nav, main, footer {
  display: block;
}

.AFV {
  text-align: center;
}

.afv-images {
  margin-right: 30px;
  margin-bottom: 50px;
  margin-left: 30px;
  padding: 0px;
  border: solid 1px #939799;
  box-shadow: 10px 10px 10px #DCDCDC;
}

#donate-now {
  width: 600px;
  display: block;
  color: #ffffff;
  font-size: 40px;
  font-weight: normal;
  background-color: #42731F;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
  box-shadow: 10px 10px 10px #DCDCDC;
}

#newtbackground {
  background-image: url('../images/Arr-Logo-Pattern2.gif');
  background-color: #718C5E;
  height: 290px;
}

#newtbackground ul {
  background-color: #ffffff;
  list-style-type: none;
}

.float-container {
  background-image: url('../images/Arr-Logo-Pattern2.gif');
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 20px;
  align-items: center;
}

.float-child {
  width: 150px;
  float: left;
  padding: 20px;
}

#recent-posts {
  color: #555555;
  float: left;
  background-color: #ffffff;
  width: 350px;
  height: 250px;
  padding: 0px;
  border-radius: 15px;
}

#upcoming-events {
  color: #555555;
  float: right;
  background-color: #ffffff;
  width: 350px;
  height: 250px;
  padding: 0px;
  border-radius: 15px;
}

#recent-posts li:last-child, #upcoming-events li:last-child {
  font-style: italic;
}

.double-space {
  line-height: 2;
  position: relative;
  top: -.5em;
}

#saveherpetiles-heading {
  font-size: 40px;
  font-family:  Verdana, Helvetica;
  font-weight: lighter;
}

#saveherpetiles ul {
  list-style-type: none;
  display: inline-block;
}

#saveherpetiles li {
  text-align: center;
  display: inline-block;
}

#donate-circles {
  text-align: center;
}

#donate-circles li {
  padding-right: 40px;
  padding-left: 40px;
}

#donate-rectangles ul {
  list-style-type: none;
  display: inline-block;
}

#donate-rectangles li {
  text-align: center;
  display: inline-block;
  padding-right: 50px;
  padding-left: 50px;
}

#donate-rectangles {
  text-align: center;
}

table {
  padding: 20px;
  margin: auto;
  width: 90%;
  border-spacing: 0;
  background-color: #D7D7D7;
}

th {
  text-align: left;
}

hr {
  width: 90%;
}

#footer-nav {
  background-color: #D7D7D7;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 50px;
}

#mobile {
  display: none;
}

#desktop {
  display: inline;
}

#pre-footer {
  text-align: left;
  padding-left: 5px;
  font-style: normal;
}

footer {
  background-color: #D7D7D7;
  font-size: .60em;
  font-style: italic;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 10px;
  margin: 10px;
}

.bottom-social-thumbnails {
  float: right;
  padding-left: 5px;
  margin-bottom: 0px;
}

#copyright {
  text-align: center;
  padding-top: 30px;
}

#myBtn {
  float: right;
  border: none;
  outline: none;
  background-color: #718C5E;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
  font-size: 18px;
  margin-right: 20px;
}

#myBtn:hover {
  background-color: #42731F;
}

/* @media only screen and (max-width: 1024px) {
  body {
    margin: 0;
    background-image: none;
  }

  #wrapper {
    width: auto;
    min-width: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2.5em;
  }

  nav {
    float: none;
    width: auto;
    padding-top: 0;
    margin: 10px;
    font-size: 1.3em;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    padding: 1em;
    width: 8em;
    font-weight: bold;
    border-style: none;
  }

  nav ul {
    padding: 0;
    margin: 0;
  }

  #heroroad, #heromugs, #heroguitar, #herojobs {
    margin: 0;
    padding: 0;
  }

  main {
    margin: 0;
    font-size: 90%;
  }
}

@media only screen and (max-width: 768px) {
  header {
    background-image: url('../images/javajammini.jpg');
    height: 128px;
  }

  h1 {
    font-size: 2em;
    text-align: center;
    padding-left: 0;
  }

  nav {
    margin: 0;
  }

  nav a {
    display: block;
    padding: 0.2em;
    width: auto;
  }

  nav li {
    display: block;
  }

  main {
    padding-top: 1px;
  }

  h2 {
    padding-top: 0.5em;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0.5em;
    margin-right: 0.5em;
  }

  .details {
    padding-left: 0;
    padding-right: 0;
  }

  #heroroad, #heromugs, #heroguitar {
    background-image: none;
    height: auto;
  }

  .floatleft {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  #mobile {
    display: inline;
  }

  #desktop {
    display: none;
  }

  #herojobs {
    display: none;
  }
} */
