body {
  background-color: #FCEBB6;
  color: #221811;
  font-family: Verdana, Arial, sans-serif;
}

header {
  background-color: #D2B48C;
  text-align: center;
}

footer {
  background-color: #D2B48C;
  font-size: .60em;
  font-style: italic;
  text-align: center;
}

h1 {
  line-height: 200%;
}

nav {
  font-weight: bold;
  text-align: center;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
